.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    
    font-family: 'Open Sans', sans-serif;
}

.app-layout__content {
    display: flex;
    flex-direction: row;
    max-width: 800px;
}