<div class="queue" *ngIf="queue">
    <div class="message__adding">
        <input type="" #content class="message__input"/>
        <button (click)="create(content.value); 
            content.value=''" class="message__button message__button--add">+</button>
        <button (click)="next();" class="message__button message__button--next">Next</button>
    </div>
    <p *ngFor="let message of messages" class="message">
        <span class="message__content">{{message.content}}</span>
    </p>
</div>