.queues {
    padding: 10px;
}

.queues__title {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}

.queues__container {
    display: flex;
    flex-direction: row;
}

.queues__panel-left {
    width: 220px;
    padding-right: 20px;
}

.queues__items {
    margin: 0;
    padding: 0;
}

.queues__input {
    border: none;
    background-color: #edf2f4;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    font-size: 14px;
}

.queues__button {
    border: 1px solid rgba(127,127,127,0.1);
    background-color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 45px;
    line-height: 24px;
}

.queues__item {
    cursor: pointer;
    background-color: #edf2f4;
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    list-style-type: none;

    &.selected {
        background-color: #f4f1bb;;
    }
}
