<div class="queues">
    <h4 class="queues__title">Queues</h4>
    <div class="queues__container">
        <div class="queues__panel-left">
            <ul class="queues__items">
                <li *ngFor="let queue of queues" class="queues__item" (click)="onSelect(queue)"
                    [class.selected]="queue === selected">
                    <span>{{queue.name}}</span>
                </li>
            </ul>
            <div class="queues__adding">
                <input #queueName class="queues__input"/>
                <button (click)="create(queueName.value); queueName.value=''" class="queues__button">
                    +
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
