.message {
    padding: 5px 0;
}

.message__content {
    background-color: #e6ebe0;
    padding: 10px;
    border-radius: 5px;
    color: #5ca4a9;
    white-space: pre-line;
}

.message__input {
    border: none;
    background-color: #edf2f4;
    padding: 5px;
    width: calc( 100% - 150px );
    border-radius: 5px;
    font-size: 14px;
}

.message__button {
    border: 1px solid rgba(127,127,127,0.1);
    background-color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 45px;
    line-height: 24px;
}

.message__button--add {
    width: 45px;
}

.message__button--next {
    width: 80px;
}